// Variables
$primary-color: #347c90;
$font-color: #1a222b;
$white: #fff;

// Elements

.nav {
  align-items: center;
  /* background: $primary-color; */
  background: transparent;
  display: flex;
  justify-content: center;
  padding: 24px 16px;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.navBarContainer {
  display: flex;
  height: 40px;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
}

.navLogo {
  align-items: center;
  background-image: url(../../images/logo_black.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  height: 40px;
  justify-self: flex-start;
  width: 40px;
}

.menuBtn {
  display: none;

  @media screen and (max-width: 768px) {
    background: $white;
    border-radius: 4px;
    /* color: #347c90; */
    color: $font-color;
    border: 2px solid $font-color;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    outline: none;
    padding: 8px 16px;
    position: absolute;
    /* right: -55px; */
    right: -3.4375rem;
    /* top: 5px; */
    top: 0.3125rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    transform: translate(-100%, 60%);

    &:hover {
      background: #e0e0e0;
      /* color: #7d7d7d; */
      color: $font-color;
      transition: all 0.2s ease-in-out;
    }
  }
}

.navMenu {
  align-items: center;
  display: flex;
  list-style: none;
  margin-right: -22px;
  text-align: center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navItem {
  font-size: 1rem;
  line-height: 24px;
  margin: 0 16px;
}

.navLinks {
  align-items: center;
  /* color: #fff; */
  color: $font-color;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0 1rem;
  text-decoration: none;

  &:hover {
    /* color: #e0e0e0; */
    border-bottom: 1px solid $font-color;
  }

  &:active {
    border-bottom: 2px solid $white;
  }
}

.navBtn {
  align-items: center;
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navBtnLink {
  background: $white;
  border-radius: 4px;
  /* color: #347c90; */
  color: $font-color;
  border: 2px solid $font-color;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;

  &:hover {
    background: #e0e0e0;
    /* color: #7d7d7d; */
    color: $font-color;
    transition: all 0.2s ease-in-out;
  }
}
