@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

$font-familly: "Inter", sans-serif;
$dark-bluegreen: #2f4f52;
$grayish-bluegreen: #95c7c3;
$very-dark-bluegreen: #262d2e;
$dark-grayish-bluegreen: #7e8687;
$very-light-gray: #fafafa;
$white: #fff;
$bold: #56d6cb;

body {
  height: 100vh;
  margin: 0;
  font-family: $font-familly;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.bold {
  color: $bold;
  font-weight: 700;
}

// ======= NAVBAR ========
.navbar-container {
  background-color: $dark-bluegreen;

  a {
    color: $white;
  }

  .logo {
    width: 2.6em;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em;
  }

  ul {
    // Mobile First display: flex;
    display: none;

    a {
      display: block;
      padding: 0 1em;

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $grayish-bluegreen;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .contact {
    // Mobile first
    display: none;

    background-color: transparent;
    border: 1px solid $white;
    border-radius: 4px;
    color: $white;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.5em 1em;

    &:hover {
      border: 1px solid $grayish-bluegreen;
      color: $grayish-bluegreen;
      transition: 0.2s all ease-in-out;
    }
  }

  .menu {
    background-color: transparent;
    border: 1px solid$white;
    border-radius: 4px;
    color: $white;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.5em 1em;

    &:hover {
      border: 1px solid $grayish-bluegreen;
      color: $grayish-bluegreen;
      transition: 0.2s all ease-in-out;
    }
  }
}

// ======== HERO SECTION =========
.hero-container {
  background-color: $white;
  color: $very-dark-bluegreen;
  display: flex;
  padding: 2em;
  text-align: center;

  p {
    font-weight: 200;
    margin-bottom: 3em;
  }
}

// ======== ABOUT SECTION ========
.about-container {
  background-color: #2f4f52;
  color: $white;
  padding: 2em;

  h2 {
    text-align: center;

    &:before {
      content: "";
      display: block;
      width: 2em;
      height: 2px;
      background: $grayish-bluegreen;
    }
  }

  p {
    letter-spacing: 0.05em;
    line-height: 1.5em;
    padding-bottom: 1em;
    text-align: left;
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
