@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

$font-familly: "Inter", sans-serif;
$dark-bluegreen: #2F4F52;
$grayish-bluegreen: #95C7C3;
$very-dark-bluegreen: #262D2E;
$dark-grayish-bluegreen: #7E8687;
$very-light-gray: #FAFAFA;

body {
  height: 100vh;
  margin: 0;
  font-family: $font-familly;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

// ======= NAVBAR ========


// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }


